/* No seu arquivo styles.css ou dentro da tag <style> no cabeçalho do HTML */
#btnVoltarAoTopo {
    display: none; /* Inicialmente, o botão está oculto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#btnVoltarAoTopo:hover {
    background-color: #0056b3;
}


/* CSS personalizado para a imagem no carrossel */
.imagem-menor {
    max-width: 400px;
    /* Defina o tamanho máximo desejado para a imagem */
    margin: 0 auto;
    /* Centralizar a imagem horizontalmente */
    display: block;
    /* Remover margens extras */
}

/* CSS personalizado para destacar o texto no carrossel */
.destaque-texto {
    background-color: rgba(0, 0, 0, 0.7);
    /* Plano de fundo escuro */
    display: flex;
    justify-content: center;
    /* Centralizar horizontalmente */
    align-items: center;
    /* Centralizar verticalmente */
    text-align: center;
    /* Centralizar texto */
    color: #fff;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
}

.destaque-texto h3 {
    font-size: 36px;
    /* Tamanho da fonte do título */
    font-weight: bold;
    text-align: center;
    /* Negrito para o título */
    margin-bottom: 10px;
    /* Espaçamento inferior */
}

.destaque-texto p {
    font-size: 18px;
    /* Tamanho da fonte do texto */
    line-height: 1.5;
    /* Espaçamento entre linhas */
}

/* Estilo para a nova seção */
.custom-section {
    background-color: #333;
    /* Cor de fundo escura */
    color: #fff;
    /* Cor do texto */
    padding: 30px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do conteúdo ao centro */
}



/* Estilo para o texto estilizado */
.styled-text {
    font-family: 'Arial', sans-serif;
    /* Fonte do texto */
    font-size: 20px;
    /* Tamanho do texto */
    font-weight: bold;
    /* Negrito */
    letter-spacing: 2px;
    /* Espaçamento entre letras */
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

.navbar {
    background-color: #00bfff; /* Cor azul clara de exemplo */
}

/* Estilo para os links da barra de navegação */
.navbar-nav .nav-link {
    color: #333; /* Cor do texto normal */
}

/* Efeito hover para os links da barra de navegação */
.navbar-nav .nav-link:hover {
    color: #5ea4ee; /* Cor do texto ao passar o mouse (azul) */
}

/* Estilos para o rodapé */
.footer {
    background-color: #333; /* Cor de fundo do rodapé (pode ser personalizada) */
    color: #fff; /* Cor do texto do rodapé (pode ser personalizada) */
    padding: 30px 0; /* Espaçamento interno superior e inferior */
}

.footer h3 {
    color: #f8f9fa; /* Cor do título do rodapé (pode ser personalizada) */
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #f8f9fa; /* Cor dos links no rodapé (pode ser personalizada) */
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline; /* Efeito de sublinhado ao passar o mouse sobre os links */
}

/* Estilo para as seções com imagem à esquerda */
.container-left-image {
    background-color: #f8f8f8; /* Cor de fundo da seção */
    padding: 40px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.container-left-image img {
    max-width: 100%; /* Imagem responsiva */
}

/* Estilo para as seções com imagem à direita */
.container-right-image {
    background-color: #f8f8f8; /* Cor de fundo da seção */
    padding: 40px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.container-right-image img {
    max-width: 100%; /* Imagem responsiva */
}

/* Estilo personalizado para a seção de valores */
.values-section {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 30px; /* Espaçamento interno */
}

/* Estilo para o título */
.values-title {
    font-family: Arial, sans-serif; /* Fonte do título */
    font-size: 24px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento inferior do título */
}

/* Estilo para os valores */
.values-list {
    list-style: none; /* Remova os bullets da lista */
    padding: 0; /* Remova o espaçamento interno da lista */
}

/* Estilo para cada item da lista */
.values-list-item {
    font-family: Georgia, serif; /* Fonte para os valores */
    font-size: 18px; /* Tamanho do texto */
    margin-bottom: 10px; /* Espaçamento inferior entre os itens */
}

/* Estilo para a imagem redonda */
.rounded-image {
    border-radius: 50%; /* Forma redonda */
    width: 200px; /* Largura da imagem */
    height: 200px; /* Altura da imagem */
    margin: 0 auto 20px; /* Centralizar e adicionar margem inferior */
    display: block; /* Para centralizar horizontalmente */
}

/* Estilo para a nova seção */
.custom-section {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto */
    padding: 30px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do conteúdo ao centro */
    transition: background-color 0.3s ease; /* Efeito de transição suave para a cor de fundo */
}

/* Efeito de hover para a seção */
.custom-section:hover {
    background-color: #555; /* Cor de fundo alterada ao passar o mouse */
}

/* Estilo para o texto estilizado */
.styled-text {
    font-family: 'Arial', sans-serif; /* Fonte do texto */
    font-size: 20px; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para as seções que se movem */
.scrollable-section {
    transition: transform 0.3s ease; /* Transição suave para o movimento */
}

/* Aplicar um deslocamento vertical positivo para mover a seção para baixo */
.scrollable-section.move-down {
    transform: translateY(100px); /* Ajuste o valor conforme necessário para a quantidade desejada de deslocamento */
}

/* Aplicar um deslocamento vertical negativo para mover a seção para cima */
.scrollable-section.move-up {
    transform: translateY(-100px); /* Ajuste o valor conforme necessário para a quantidade desejada de deslocamento */
}