html {
    scroll-behavior: smooth; /* Adiciona rolagem suave a todas as âncoras */
    scroll-behavior: smooth; /* Para compatibilidade com navegadores mais antigos */
}

/* Define a velocidade da transição de rolagem */
html {
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    transition-duration: 1s; /* Ajuste o valor para controlar a velocidade da transição */
}

.header-inicio {
    color: #183762;
}
/* Estilo para o botão "Voltar ao Topo" */
#btnVoltarAoTopo {
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #567666;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}




/* Estilize seus links <a> com a fonte personalizada */
a {
    color: #183762;
    text-decoration: none;
    background-color: transparent;
}

/* CSS personalizado para a imagem no carrossel */
.imagem-menor {
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

/* CSS personalizado para destacar o texto no carrossel */
.destaque-texto {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.destaque-texto h3 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.destaque-texto p {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilo para a nova seção */
.custom-section {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-section:hover {
    background-color: #555;
}

/* Estilo para o texto estilizado */
.styled-text {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.bg-dark-fundo{
    background-color: #567666;
}

   /* Estilize os submenus para que eles fiquem ocultos por padrão */
   .submenu {
    display: none;
    position: absolute;
    background-color: #DEE4F0;
    color: #183762;
    padding: 10px;
    margin-top: 30px;
    transition: color 0.3s ease; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.submenu li{
    display: block;
}
.submenu li a {
    text-decoration: none;
    transition: color 0.3s ease; 
}

.fixed-top{
    background-color: #DEE4F0;
}

.navbar-nav .nav-link{
    transition: color 0.3s ease; 
}

/* Efeito hover para os links da barra de navegação */
.navbar-nav .nav-link:hover {
    color: #5ea4ee; /* Cor do texto ao passar o mouse (azul) */
}

/* Estilize o item "Perfil da Empresa" para que ele seja uma posição relativa */
.nav-item:hover .submenu,
.nav-item.active .submenu {
    display: block;
}
.footer .color-black{
    color: #333;
    margin-top: 5px;
}

/* Estilos para o rodapé */
.footer {
    background-color: #fff; /* Cor de fundo do rodapé (pode ser personalizada) */
    color: #333; /* Cor do texto do rodapé (pode ser personalizada) */
    padding: 30px 0; /* Espaçamento interno superior e inferior */
}

.footer h3 {
    color: #333; /* Cor do título do rodapé (pode ser personalizada) */
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #333; /* Cor dos links no rodapé (pode ser personalizada) */
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline; /* Efeito de sublinhado ao passar o mouse sobre os links */
}

/* Estilo para as seções com imagem à esquerda */
.container-left-image {
    background-color: #f8f8f8; /* Cor de fundo da seção */
    padding: 40px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.container-left-image img {
    max-width: 100%; /* Imagem responsiva */
}

/* Estilo para as seções com imagem à direita */
.container-right-image {
    background-color: #f8f8f8; /* Cor de fundo da seção */
    padding: 40px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.container-right-image img {
    max-width: 100%; /* Imagem responsiva */
}

/* Estilo personalizado para a seção de valores */
.values-section {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 30px; /* Espaçamento interno */
}

/* Estilo para o título */
.values-title {
    font-family: Arial, sans-serif; /* Fonte do título */
    font-size: 24px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento inferior do título */
}

#bannerCarousel {
    height: 710px; /* Altura fixa para a seção do banner */
    overflow: hidden; /* Ocultar conteúdo que exceder a altura fixa */
}

/* Estilo para telas de tamanho médio (tablets, por exemplo) */
@media (max-width: 768px) {
    #bannerCarousel {
        height: 250px; /* Altura menor para tablets */
    }
}

/* Estilos para a seção de fundo branco */
.atividades-section {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #333; /* Cor do texto */
}

/* Estilos para o título "Nossas Atividades" */
.atividades-section h2 {
    font-size: 36px; /* Tamanho da fonte para o título */
    color: #333; /* Cor do título */
    text-align: center; /* Centralizar o título */
    margin-bottom: 30px; /* Espaçamento inferior para o título */
}

/* Estilos para a lista de atividades */
.atividades-section ul {
    list-style-type: none; /* Remover marcadores da lista */
    padding-left: 0; /* Remover o recuo padrão da lista */
}

/* Estilos para os itens da lista */
.atividades-section ul li {
    margin-bottom: 30px; /* Espaçamento inferior para cada item da lista */
    padding: 20px; /* Espaçamento interno para cada item */
    border-radius: 8px; /* Borda arredondada para os blocos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para os blocos */
    background-color: #fff; /* Cor de fundo dos blocos */
}

/* Estilos para os títulos de cada bloco */
.atividades-section ul li strong {
    display: block;
    font-size: 24px; /* Tamanho da fonte para os títulos */
    margin-bottom: 10px; /* Espaçamento inferior para os títulos */
}

/* Cor preta para o texto dentro dos blocos de fundo branco */
.atividades-section ul li p {
    color: #000;
}

strong{
    color: #333;
}



.propósito-section {
        background-color: #f8f8f8; /* Cor de fundo da seção */
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .propósito-section h2 {
        font-size: 36px; /* Tamanho da fonte para o título */
        color: #333; /* Cor do título */
    }

    .propósito-section p {
        font-size: 18px; /* Tamanho da fonte para o texto */
        line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
        color: #666; /* Cor do texto */
    }

.title-itemValores{
    background: #9a9a1e;
    padding: 15px;
}

.value-card {
    height: 250px; /* Defina a altura desejada em pixels */
}

.value-card h3 {
    height: 50px; /* Altura do h3 dentro do value-card */
}

.value-card p {
    height: 150px; /* Altura do p dentro do value-card */
}

/* Estilo para telas pequenas (celulares, por exemplo) */
@media (max-width: 480px) {
    #bannerCarousel {
        height: 200px;/* Altura ainda menor para celulares */
    }
}


/* Estilo para os valores */
.values-list {
    list-style: none; /* Remova os bullets da lista */
    padding: 0; /* Remova o espaçamento interno da lista */
}



.carousel-inner {
    height: 100%;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Estilo para cada item da lista */
.values-list-item {
    font-family: Georgia, serif; /* Fonte para os valores */
    font-size: 18px; /* Tamanho do texto */
    margin-bottom: 10px; /* Espaçamento inferior entre os itens */
}

/* Estilo para a imagem redonda */
.rounded-image {
    border-radius: 50%; /* Forma redonda */
    width: 200px; /* Largura da imagem */
    height: 200px; /* Altura da imagem */
    margin: 0 auto 20px; /* Centralizar e adicionar margem inferior */
    display: block; /* Para centralizar horizontalmente */
}

/* Estilo para a nova seção */
.custom-section {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto */
    padding: 30px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do conteúdo ao centro */
    transition: background-color 0.3s ease; /* Efeito de transição suave para a cor de fundo */
}

/* Efeito de hover para a seção */
.custom-section:hover {
    background-color: #555; /* Cor de fundo alterada ao passar o mouse */
}

/* Estilo para o texto estilizado */
.styled-text {
    font-family: 'Arial', sans-serif; /* Fonte do texto */
    font-size: 20px; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para as seções que se movem */
.scrollable-section {
    transition: transform 0.3s ease; /* Transição suave para o movimento */
}

/* Aplicar um deslocamento vertical positivo para mover a seção para baixo */
.scrollable-section.move-down {
    transform: translateY(100px); /* Ajuste o valor conforme necessário para a quantidade desejada de deslocamento */
}

/* Aplicar um deslocamento vertical negativo para mover a seção para cima */
.scrollable-section.move-up {
    transform: translateY(-100px); /* Ajuste o valor conforme necessário para a quantidade desejada de deslocamento */
}


    body{
        background-color: #9a9a1e;
    }

    /* Estilo para a seção */
    .section-6 {
        background-color: #567666; /* Cor de fundo escura */
        color: #fff; /* Cor do texto */
        padding: 30px; /* Espaçamento interno */
        text-align: center; /* Alinhamento do conteúdo ao centro */
    }

    /* Estilo para o título */
    .section-6 h2 {
        font-size: 24px; /* Tamanho do título */
        margin-bottom: 20px; /* Espaçamento inferior do título */
    }

    /* Estilo para o texto */
    .section-6 p {
        font-size: 18px; /* Tamanho do texto */
        line-height: 1.5; /* Espaçamento entre linhas */
        margin-bottom: 20px; /* Espaçamento inferior do texto */
    }





.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col-md-6 img,
.col-md-6 h3,
.col-md-6 p {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}