    /* Estilo para a seção */
    .section-6 {
        background-color: #333; /* Cor de fundo escura */
        color: #fff; /* Cor do texto */
        padding: 30px; /* Espaçamento interno */
        text-align: center; /* Alinhamento do conteúdo ao centro */
    }

    /* Estilo para o título */
    .section-6 h2 {
        font-size: 24px; /* Tamanho do título */
        margin-bottom: 20px; /* Espaçamento inferior do título */
    }

    /* Estilo para o texto */
    .section-6 p {
        font-size: 18px; /* Tamanho do texto */
        line-height: 1.5; /* Espaçamento entre linhas */
        margin-bottom: 20px; /* Espaçamento inferior do texto */
    }


    /* Estilo para o título */
h3 {
    margin-top: 30px;
    font-size: 22px; /* Tamanho do título */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaçamento inferior do título */
    /* Cor do título (pode personalizar) */
}

/* Estilo para o texto */
p {
    font-size: 12px; /* Tamanho do texto */
    line-height: 1.5; /* Espaçamento entre linhas */
    margin-bottom: 20px; /* Espaçamento inferior do texto */
}


.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col-md-6 img,
.col-md-6 h3,
.col-md-6 p {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}